@import "./settings/variables";

html,
body {
  font-family: "HelvNeueOrange", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f8f8f8;
}

* {
  box-sizing: border-box;
}

.text-orange {
  color: $orange !important;
}

.custom-dropdown-toggle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.special-text {
  font-size: 0.85rem;
  margin-left: auto;

  a {
    text-decoration: none;
  }
}

.text-danger {
  color: #cd3c14;
}

@import "./modules/custom-title";
